#####standard .git ignore entries#####

## IDE Specific Files ##
.classpath
.project
.settings
.idea
.externalToolBuilders
maven-eclipse.xml
workspace

## Compilation Files ##
*.class
**/target
target
target-ide
MANIFEST.MF

## Misc Ignores (OS specific etc) ##
bin/
dist
*~
*.ipr
*.iml
*.iws
classes
out/
.DS_STORE
.metadata

## Folders which contain auto generated source code ##
yang-gen-config
yang-gen-sal



#####Archetype specific .git ignore entries#######
generate
Archetype_Next_Steps.README

