body {
  background: #fff;
}

h2 {
  padding-top: 25px;
  padding-left: 20px;
  color: #646464;
}

ol > li {
  padding: 2px 0;
}

code {
  background: #F3F781;
  padding: 2px 4px;
  font-weight: bold;
  color: #000;
  border-radius: 2px;
}
